<oui-back-button data-href="{{:: $ctrl.$state.href('^') }}">
    <span data-translate="billing_autoRenew_update_backButton_content"></span>
</oui-back-button>

<p
    class="mt-4"
    data-translate="billing_autoRenew_update_header_explanation_1"></p>
<p data-translate="billing_autoRenew_update_header_explanation_2"></p>

<table class="oui-datagrid">
    <thead class="oui-datagrid__headers">
        <tr>
            <th
                class="oui-datagrid__header"
                data-translate="billing_autoRenew_update_table_header_serviceType"></th>
            <th
                class="oui-datagrid__header"
                data-translate="billing_autoRenew_update_table_header_services"></th>
            <th
                class="oui-datagrid__header w-25"
                data-translate="billing_autoRenew_update_table_header_renewalType"></th>
        </tr>
    </thead>
    <tbody>
        <tr
            data-ng-repeat="serviceType in $ctrl.serviceTypes track by serviceType.name"
            data-ng-if="serviceType.services.length > 0"
            class="oui-datagrid__row">
            <td
                class="oui-datagrid__cell"
                data-translate="{{:: 'autorenew_service_type_' + serviceType.name }}"></td>
            <td class="oui-datagrid__cell">
                <div data-ng-repeat="service in serviceType.services track by $index">
                    <span class="oui-chip oui-chip_closable mx-2">
                        <span data-ng-bind="service.serviceId"></span>
                        <button
                            data-ng-click="$ctrl.onClickOnServiceChipCloseButton(service, serviceType)"
                            type="button"
                            class="oui-chip__close">
                            <span
                                class="oui-icon oui-icon-close_thin"
                                aria-hidden="true"></span>
                            <span
                                class="sr-only"
                                data-translate="billing_autoRenew_update_table_removeService"
                                data-translate-values="{
                                    serviceName: service.serviceId
                                }"></span>
                        </button>
                    </span>
                </div>
            </td>
            <td class="oui-datagrid__cell">
                <oui-select
                    data-ng-if="serviceType.allowRenewalChange"
                    data-on-change="$ctrl.updateConfirmationButtonAvailability()"
                    data-match="displayValue"
                    data-model="serviceType.selectedRenewalType"
                    data-placeholder="Choisir"
                    data-items="serviceType.availableRenewalTypes"
                    data-align="start">
                    <span ng-bind="$item.displayValue"></span>
                </oui-select>
                <span
                    data-ng-if="!serviceType.allowRenewalChange"
                    data-translate="billing_autoRenew_update_cantChangeRenewalType"></span>
            </td>
        </tr>
    </tbody>
</table>

<div data-ng-if="$ctrl.userMustSignContracts">
    <oui-spinner data-ng-if="$ctrl.isFetchingContractsToSign"></oui-spinner>

    <div
        data-ng-if="!$ctrl.isFetchingContractsToSign && $ctrl.contractsToSign.length > 0"
        data-contracts="$ctrl.contractsToSign"
        data-full-text="true"
        data-ng-model="$ctrl.contractsAreSigned"></div>
</div>

<oui-button
    data-disabled="!$ctrl.confirmationButtonIsAvailable || ($ctrl.userMustSignContracts && !$ctrl.contractsAreSigned)"
    data-on-click="$ctrl.sendRenewals()"
    data-variant="primary"
    data-text="Confirmer"></oui-button>

<oui-button
    data-on-click="$ctrl.$state.go('^')"
    data-variant="link"
    data-text="Annuler"></oui-button>

<oui-spinner data-ng-if="$ctrl.isSendingRewal"></oui-spinner>
